<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRUD Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/demo/crud" class="navbar-brand">CRUD WEB</a>

    <div class="d-flex align-items-center">
        <!-- Search Form -->
        <form th:action="@{/crud/search}" th:method="get" class="form-inline mr-3">
            <div class="input-group">
                <input type="text" class="form-control mr-sm-2" name="keyword" placeholder="Nhập user cần tìm"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Tìm kiếm</button>
                </div>
            </div>
        </form>

        <!-- User Info and Logout Button -->
        <div class="d-flex align-items-center" th:if="${username != null}">
            <span class="text-light mr-3" th:text="${username}">Username</span>
            <form th:action="@{/auth/logout}" method="post">
                <button type="submit" class="btn btn-outline-danger">Đăng xuất</button>
            </form>
        </div>
    </div>
</nav>
<div class="container mt-4">

    <h2>Tạo người dùng</h2>
    <form th:action="@{/crud}" th:method="post" th:object="${userRequest}">
        <div class="form-group">
            <label for="createName">Tên tài khoản :</label>
            <input type="text" class="form-control" id="createUsername" th:field="*{username}"/>
        </div>
        <div class="form-group">
            <label for="createName">Mật khẩu :</label>
            <input type="text" class="form-control" id="createPassword" th:field="*{password}"/>
        </div>
        <div class="form-group">
            <label for="createName">Tên người dùng :</label>
            <input type="text" class="form-control" id="createName" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label for="createDob">Ngày sinh:</label>
            <input type="date" class="form-control" id="createDob" th:field="*{dob}"/>
        </div>

        <div class="form-group">
            <label for="createSex">Giới tính:</label>
            <input type="text" class="form-control" id="createSex" th:field="*{sex}"/>
        </div>
        <div class="form-group">
            <label for="createSex">Địa chỉ:</label>
            <input type="text" class="form-control" id="createLocal" th:field="*{local}"/>
        </div>

        <button type="submit" class="btn btn-primary">Tạo người dùng</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>